  <%

  <style type="text/css">
    .labels span {
      width: 2em;
      height: 2em;
      border: 1px solid black;
      margin-right: 0.5em;
    }
    .labels{
      list-style-type: none;
    }
    .labels li{
      margin-top: 0.2em;
    }
    text.pie-chart-text-label{
      /*color:white;
      #font-weight: bold;*/
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .labels li span {
      color:white;
      font-weight: bold;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  </style>

  <script type="text/javascript">

    var width = <%=@width%>,height = <%=@height%>,
    outerRadius = Math.min(width, height) / 2,
    innerRadius = outerRadius * <%= @endomargin%>,
    data = <%=@data%>,
    color = d3.scale.category20(),
    donut = d3.layout.pie(),
    arc = d3.svg.arc().innerRadius(innerRadius).outerRadius(outerRadius);

var vis = d3.select("<%=@target_element%>")
  .append("svg")
    .data([data])
    .attr("width", width)
    .attr("height", height);

var arcs = vis.selectAll("g.arc")
    .data(donut)
  .enter().append("g")
    .attr("class", "arc")
    .attr("transform", "translate(" + outerRadius + "," + outerRadius + ")");

arcs.append("path")
    .attr("fill", function(d, i) { return color(i); })
    .attr("d", arc);

arcs.append("text")
    .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
    .attr("dy", ".35em")
    .attr("class", "pie-chart-text-label")
    .attr("text-anchor", "middle")
    .attr("style", "stroke-opacity:0.0;fill:#FFFFFF;font-weight:600;")
    .attr("display", function(d) { return d.value > 20 ? null : "none"; })
    .text(function(d, i) { return d.value.toFixed(1); });
    
    </script>

<ul class="labels">
<% @labels.each_with_index do |l,i| %>
<% l = l.gsub('_',' ') %>
  <li>
    <span id="color_<%=i%>">
      &nbsp;<%= @data[i] %>%&nbsp;
    </span>
    <%= l.to_s.capitalize %>
    <script type="text/javascript">
        document.getElementById('color_<%=i%>').setAttribute('style','background-color:'+color(<%=i%>)+';');
    </script>
  </li>
<% end %>
</ul>

